<%- include("partials/header.ejs") %>
<body>
    <div class="container mt-5 mb-5 d-flex flex-column main-div">
        <div class="pt-5 pb-5">
            <h1 style="text-align: center;">ADD ENTRY</h1>
        </div>
        <hr>
        <div class="container py-5">
            <form  method="post">
                <!-- Search book Div -->
                <div class="row mb-2">
                    <div class="col-2">
                        <label for="search">Search Book: </label>
                    </div>
                    <div class="col-10" >
                        <!-- invisible input tag to store the value of searched book -->
                        <input type="hidden" name="title" id="title" value="0">
                        <input type="hidden" name="author" id="author" value="0">
                        <input type="hidden" name="cover_id" id="cover_id" value="0">
                        <!-- the input tag to search books thru open library api -->
                         <div class="container">
                            <div class="row">
                                <div class="col-10">
                                    <input type="text" id="search" name="search" class="form-control" >
                                </div>
                                <div class="col-2 d-flex align-items-center">
                                    <button type="submit" formaction="/search" class="btn rounded-pill btn-sm btn-primary">Search</button>     
                                </div>
                            </div> 
                            <div class="row">
                                <div class="col-10">
                                    <!-- a dropdown list to show results from search. user can then click on a book then details will be stored in invisible input tags above. handled by dropdown.js -->
                                    <ul id="dropdown" class="container-fluid p-0" <% if (locals.books.length == 0){%>hidden<% } %>>
                                        <% books.forEach((book) => { %>
                                        <li class="book_item">
                                            <div class="ps-5 m-0 pe-5 d-flex">
                                                <img  class="cover_image" id="<%=book.coverID%>" src="https://covers.openlibrary.org/b/id/<%=book.coverID%>-S.jpg" style="object-fit: contain;">
                                                <div class="ps-5 d-flex flex-column flex-wrap">
                                                    <p class="contrast-text"><strong class="book_title"><%=book.title%></strong></p>
                                                    <p class="contrast-text">by <em class="book_author"><%=book.authorName%></em></p>
                                                </div>
                                            </div>                                        
                                        </li>
                                        <% }) %>
                                    </ul>  
                                </div>
                                <div class="col-2"> </div>
                            </div>
                            <!-- Div for book details. show when user selected a book handled in dropdown.js -->
                            <div id="selected_book" class="row mb-2" hidden>
                                <div class="col-6 d-flex justify-content-center align-items-center">
                                    <img id="selected_book_image" class="rounded book-cover" style="object-fit: contain;">
                                </div>
                                <div class="col-6 d-flex flex-column justify-content-center align-items-center">
                                    <h2 id="selected_book_title"></h2>
                                    <p>by: <em id="selected_book_author"></em></p>
                                </div>
                            </div>                  
                         </div>
                    </div>
                </div>


                <!-- Rating div -->
                <div class="row mb-2">
                    <div class="col-2">
                        <label for="rating">Rating: </label>
                    </div>
                    <div class="col-10">
                        <!-- Hover color change is handled in stars.js-->
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                        <!-- this is where i store the rating using stars.js-->
                        <input type="hidden" name="rating" id="rating" value="0">
                    </div>
                </div>
                <!-- Review div -->
                <div class="row mb-2">
                    <div class="col-2">
                        <label for="review">Review: </label>
                    </div>
                    <div class="col-10">
                        <textarea type="text" id="review" name="review" class="form-control" rows="10"></textarea>
                    </div>
                </div> 
                <!-- Notes Div -->
                <div class="row mb-2">
                    <div class="col-2">
                        <label for="notes">Notes: </label>
                    </div>
                    <div class="col-10">
                        <textarea type="text" id="notes" name="notes" class="form-control" rows="20"></textarea>
                    </div>
                </div>
                
                <div class="row pt-2">
                    <div class="col-12 d-flex justify-content-center">
                        <button type="submit" formaction="/entry" class="btn rounded-pill btn-primary">Submit</button>  
                    </div>
                </div>
                


            </form>
        </div>   

    </div>
    <script src="stars.js"></script>
    <script src="dropdown.js"></script>
</body>
<%- include("partials/footer.ejs") %>